@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #91C269, #5B7545);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(29, 37, 22, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: black;
    text-align: center;
    text-shadow: 0px 0px 2px;
}
h2{
    color: black;
}

p{
    text-align: justify;
}