@charset "UTF-8";

body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkslategrey;
    background-color: rgb(255, 255, 255);
}
h2{
    color: darksalmon;
}
p{
    text-align: justify;
}