@charset "UTF-8";

body{
    background-color: #5CF785;
}

h1{
    color: #286B3A;
    font: normal bold 2em 'Segoe';
    
}

h2{
    color: #286B3A;
    font-family: Arial, Helvetica, sans-serif;
}

h1#titulo01{
    color: white;
    background-color: #286B3A;
    text-align: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-indent: 5em;
    font-size: 1.2em;

}